Host lab-bastion
    HostName 32.192.20.135
    User ubuntu
    IdentityFile ./lab-key
    IdentitiesOnly yes

Host lab-cpu
    HostName 10.0.10.27
    User ubuntu
    IdentityFile ./lab-key
    IdentitiesOnly yes
    ProxyJump lab-bastion
